<!DOCTYPE html>
<!--
  Name: Snow - Minimal & Clean Portfolio HTML Template
  Version: 1.0.1
  Author: nK, unvab
  Support: https://nk.ticksy.com
  License: Available Upon Request.
  Copyright 2017.
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Beats Breaks & Crates | DJ & STEM Advocate</title>

    <meta name="description" content="Beats Breaks & Crates - DJ Services and Set Theory STEM Workshop.">
    <meta name="keywords" content="DJ, services, STEM, mixing, workshop, bay area website">
    <meta name="author" content="E. Bohler">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">

    <!-- <link rel="stylesheet" href="assets/css/combined.css"> -->

    <!-- END: Styles -->



</head>

<body>




    <header class="nk-header">
        <!--
        START: Navbar
    -->
    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
        <div class="container">
            <div class="nk-nav-table">
                <a href="index.html" class="nk-nav-logo">
                    <img src="assets/color_logo_transparent.svg" alt="" width="170" class="nk-nav-logo-onscroll">
                    <img src="assets/dark_logo_transparent.svg" alt="" width="170">
                </a>

                <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                    <li>
                        <a href="index.html#about">About Us</a>
                    </li>
                    <li>
                        <a href="index.html#services">Services</a>
                    </li>
                    <li>
                        <a href="catalogue.html">Catalogue</a>
                    </li>
                    <li>
                        <a href="settheory.html">Set Theory STEM Workshop</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="index.html#contact">Contact</a>
                    </li>
                </ul>

                <ul class="nk-nav nk-nav-right nk-nav-icons">
                    <li class="single-icon hidden-lg-up">
                        <a href="#" class="nk-navbar-full-toggle">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END: Navbar -->

</header>




    <!--
    START: Navbar Mobile
-->
<nav class="nk-navbar nk-navbar-full nk-navbar-align-center" id="nk-nav-mobile">
    <div class="nk-navbar-bg">
        <div class="bg-image" style="background-image: url('assets/bg-menu.jpg')"></div>
    </div>
    <div class="nk-nav-table">
        <div class="nk-nav-row">
            <div class="container">
                <div class="nk-nav-header">

                    <div class="nk-nav-logo">
                        <a href="index.html" class="nk-nav-logo">
                            <img src="assets/logo-light.svg" alt="" width="85">
                        </a>
                    </div>

                    <div class="nk-nav-close nk-navbar-full-toggle">
                        <span class="nk-icon-close"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-nav-row-full nk-nav-row">
            <div class="nano">
                <div class="nano-content">
                    <div class="nk-nav-table">
                        <div class="nk-nav-row nk-nav-row-full nk-nav-row-center nk-navbar-mobile-content">
                            <ul class="nk-nav">
                                <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-nav-row">
            <div class="container">
                <div class="nk-nav-social">
                    <ul>
                        <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
                        <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END: Navbar Mobile -->


<div class="nk-main">

    <!-- START: Header Title -->
    <div class="nk-header-title nk-header-title-full">
        <div class="bg-image">
            <div style="background-image: url('assets/djbg.jpeg');"></div>
            <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
        </div>
        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">

                    <h2 class="nk-subtitle text-white">Beats Breaks & Crates</h2>


                    <h1 class="nk-title display-3 text-white">We are changing the way
                        <br>
                        <em class="fw-400">music impacts our space and community.</em>
                    </h1>


                    <div class="nk-gap"></div>
                    <div class="nk-header-text text-white">
                        <div class="nk-gap-4"></div>
                    </div>


                </div>
            </div>
        </div>

        <div>
            <a class="nk-header-title-scroll-down text-white" href="#nk-header-title-scroll-down">
                <span class="pe-7s-angle-down"></span>
            </a>
        </div>

    </div>

    <div id="nk-header-title-scroll-down"></div>

    <!-- END: Header Title -->





    <!-- START: About Beats Breaks & Crates -->
    <div class="bg-white" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-xs-center">
                    <div class="nk-gap-4 mt-9"></div>
                    <div class="nk-gap-4 mt-9"></div>

                    <h2 class="display-4">DJ E. Bohler</h2>
                    <div class="nk-gap mnt-5"></div>

                    <img src="assets/dje4.jpg" alt="" class="nk-img-fit"></img>

                    <div class="nk-gap mnt-6"></div>

                    <div class="text-xs-center">I've always had a love for music and started playing classical instruments from grade school. In 2006, I graduated from Spelman College & Georgia Tech and went off to the acclaimed DJ school, Scratch Academy in NYC. After completing their program and investing in the equipment, it was time to get spinning. My absolute favorite music to play out is Disco. It’s also one of the hardest to mix because most of the music recorded back then was played by live bands who don’t play at an exact tempo throughout the track. I also love hip-hop, R&B, and house/step.”

                        With over a decade of experience with all kinds of music and events, I'm prepared for anything. There are always going to be last minute changes to events. I try to minimize the effect this has on my client and their day by being as accommodating as possible. It’s my job to help bring solutions to the table. I give every client personal attention and my leadership will ensure your event goes off without a hitch!</div>

                        <img src="assets/ebsignature.jpg" alt="" width= "150" class="nk-img-fit">

                        <div class="nk-gap-4 mt-25"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: About Our Beats Breaks & Crates -->

        <!-- START: Features -->
        <div class="nk-box bg-dark-1 text-white">
            <div class="bg-image bg-image-parallax" style="background-image: url('assets/bg-pattern.jpg');"></div>
            <div class="nk-gap-5 mnt-6"></div>
            <div class="container">
                <div class="row vertical-gap">
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-portfolio"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">100+</div>
                                <div class="nk-ibox-text">Projects Completed</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-clock"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">1100+</div>
                                <div class="nk-ibox-text">Working Hours</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-star"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">100+</div>
                                <div class="nk-ibox-text">Positive Feedbacks</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="nk-ibox-1">
                            <div class="nk-ibox-icon">
                                <span class="pe-7s-like"></span>
                            </div>
                            <div class="nk-ibox-cont">
                                <div class="nk-ibox-title">100+</div>
                                <div class="nk-ibox-text">Happy Clients</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-gap-5 mnt-6"></div>
        </div>
        <!-- END: Features -->

        <!-- START: Portfolio -->
        <div class="nk-box bg-white" id="services">
            <div class="nk-gap-4 mt-5"></div>
            <div class="nk-gap-4 mt-9"></div>


            <h2 class="text-xs-center display-4">Services</h2>

            <div class="nk-gap mnt-6"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="text-xs-center">The most popular Beats Breaks & Crates services and events.  Please inquire with our company if an event is not listed here.  Excellent customer service is our #1 goal.
                        </div>
                    </div>
                </div>
            </div>

            <div class="nk-gap-2 mt-12"></div>
            <div class="container">
                <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">


                    <div class="nk-isotope-item" data-filter="Personalized Mixes">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="portfolio-single.html" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('assets/controller.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Mixes</h2>
                                    <div class="portfolio-item-category">Personalized Mixes</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Corporate Events">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="portfolio-single.html" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('assets/recordingequip.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Corporate</h2>
                                    <div class="portfolio-item-category">Corporate Events</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Weddings">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="portfolio-single.html" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('assets/turntable.jpg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Weddings</h2>
                                    <div class="portfolio-item-category">Weddings</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Music Programming">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="portfolio-single.html" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('assets/cassettetape.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Music Programming</h2>
                                    <div class="portfolio-item-category">Specialized Background Sound for Your Event or Project</div>
                                    <div class="nk-gap mnt-6"></div>
                                    <div class="portfolio-item-category">Art Galleries | Boutiques | Film</div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Workshop">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="portfolio-single.html" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('assets/studio.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Set Theory Workshop</h2>
                                    <div class="portfolio-item-category">Introduce students to STEM using the DJ Artform</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="nk-isotope-item" data-filter="Nonprofit">
                        <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                            <a href="portfolio-single.html" class="nk-portfolio-item-link"></a>
                            <div class="nk-portfolio-item-image">
                                <div style="background-image: url('assets/hpmic.jpeg');"></div>
                            </div>
                            <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                                <div>
                                    <h2 class="portfolio-item-title h3">Non-Profit</h2>
                                    <div class="portfolio-item-category">Non-Profit Events</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="nk-gap-4 mt-15"></div>
        </div>
        <!-- END: Portfolio -->

        <!-- START: Reviews -->
        <div class="nk-box bg-dark-1">
            <div class="bg-image bg-image-parallax" style="background-image: url('assets/bg-pattern.jpg');"></div>
            <div class="nk-gap-5 mnt-6"></div>
            <div class="nk-gap-3"></div>
            <div class="container-fluid">
                <!-- START: Carousel -->
                <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-dots="true">
                    <div class="nk-carousel-inner">
                        <div>
                            <div>
                                <blockquote class="nk-blockquote-style-1 text-white">
                                    <p>Erica...you did an amazing job tonight!!! We felt your energy and love for what you do tonight! You played so many records that I had forgotten about and my guests danced and sang all night long. We definitely will be using you for all of our events moving forward..</p>
                                    <cite>V. Bartlow - Private Residence - Oakland, CA</cite>
                                </blockquote>
                                <div class="nk-gap-3 mt-10"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <blockquote class="nk-blockquote-style-1 text-white">
                                    <p>Erica was also a pleasure to work with, and it was apparent to me that she wanted to get everything done as close to perfectly as possible. She was able to roll with the punches and just fun to have around.</p>
                                    <cite>C. Du - Oakland Museum of California - Oakland, CA</cite>
                                </blockquote>
                                <div class="nk-gap-3 mt-10"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <blockquote class="nk-blockquote-style-1 text-white">
                                    <p>I truly enjoyed working with you.  Your professionalism and attendion to detail made the night truly memorable for the bride and groom.  They were so happy with everything and loved how you made it about them.  I would love to work with you and your team in the future.  Thanks for everything!</p>
                                    <cite>L. Lee - UC Berkely Faculty Club - Berkeley, CA</cite>
                                </blockquote>
                                <div class="nk-gap-3 mt-10"></div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <blockquote class="nk-blockquote-style-1 text-white">
                                    <p>Wow!  My entire team and I absolutely had a blast at our company holiday party this year.  Thank you for rocking all of the tunes that we requested and more.  We can't wait until next year!  Thanks so much!  You Rock!</p>
                                    <cite>T. Lyons - Presidio Golf Course and Clubhouse - San Francisco, CA</cite>
                                </blockquote>
                                <div class="nk-gap-3 mt-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Carousel -->
        </div>
        <div class="nk-gap-4 mt-3"></div>
    </div>
    <!-- END: Reviews -->

    <!-- START: Partners -->
    <!-- <div class="bg-white">
        <div class="container">
            <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible">
                <div class="nk-carousel-inner">
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-1-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-2-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-3-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-4-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-5-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-6-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-7-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="nk-box-1">
                                <img src="assets/images/partner-logo-8-dark.png" alt="" class="nk-img-fit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- END: Partners -->

    <!-- START: Blog -->
    <div class="nk-box bg-gray-1" id="blog">
        <div class="nk-gap-4 mt-5"></div>

        <h2 class="text-xs-center display-4">Latest Blog</h2>

        <div class="nk-gap mnt-6"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-xs-center">Coming Soon
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-gap-2 mt-12"></div>
        <div class="container">
            <!-- START: Carousel -->
            <!-- <div class="nk-carousel-2 nk-carousel-x2 nk-carousel-no-margin nk-carousel-all-visible nk-blog-isotope" data-dots="true">
                <div class="nk-carousel-inner">


                    <div>
                        <div>
                            <div class="pl-15 pr-15">
                                <div class="nk-blog-post">
                                    <div class="nk-post-thumb">
                                        <a href="blog-single.html">
                                            <img src="assets/images/post-1-mid.jpg" alt="" class="nk-img-stretch">
                                        </a>
                                        <div class="nk-post-category"><a href="#">Nature</a></div>
                                    </div>
                                    <h2 class="nk-post-title h4"><a href="blog-single.html">Something I need to tell you</a></h2>

                                    <div class="nk-post-date">
                                        September 18, 2016
                                    </div>

                                    <div class="nk-post-text">
                                        <p>That female isn't midst divide kind upon seas lights greater green creature lights brought.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>


                    <div>
                        <div>
                            <div class="pl-15 pr-15">
                                <div class="nk-blog-post">
                                    <div class="nk-post-thumb">
                                        <a href="blog-single.html">
                                            <img src="assets/images/post-3-mid.jpg" alt="" class="nk-img-stretch">
                                        </a>
                                        <div class="nk-post-category"><a href="#">Nature</a></div>
                                    </div>
                                    <h2 class="nk-post-title h4"><a href="blog-single.html">The History of Nature</a></h2>

                                    <div class="nk-post-date">
                                        August 27, 2016
                                    </div>

                                    <div class="nk-post-text">
                                        <p>Third is fly. From one under in itself two waters, all own. Said male shall greater own grass.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>


                    <div>
                        <div>
                            <div class="pl-15 pr-15">
                                <div class="nk-blog-post">
                                    <div class="nk-post-thumb">
                                        <a href="blog-single.html">
                                            <img src="assets/images/post-4-mid.jpg" alt="" class="nk-img-stretch">
                                        </a>
                                        <div class="nk-post-category"><a href="#">Branding</a></div>
                                    </div>
                                    <h2 class="nk-post-title h4"><a href="blog-single.html">Are you doing the Right Way?</a></h2>

                                    <div class="nk-post-date">
                                        August 14, 2016
                                    </div>

                                    <div class="nk-post-text">
                                        <p>Which all, morning isn't. Female and own living dry, and morning lesser first he stars under years thing.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>


                    <div>
                        <div>
                            <div class="pl-15 pr-15">
                                <div class="nk-blog-post">
                                    <div class="nk-post-thumb">
                                        <a href="blog-single.html">
                                            <img src="assets/images/post-5-mid.jpg" alt="" class="nk-img-stretch">
                                        </a>
                                        <div class="nk-post-category"><a href="#">Design</a></div>
                                    </div>
                                    <h2 class="nk-post-title h4"><a href="blog-single.html">Ten things about Photography</a></h2>

                                    <div class="nk-post-date">
                                        August 14, 2016
                                    </div>

                                    <div class="nk-post-text">
                                        <p>Be forth, god for rule face abundantly all our two winged made. Is whose morning female.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>


                    <div>
                        <div>
                            <div class="pl-15 pr-15">
                                <div class="nk-blog-post">
                                    <div class="nk-post-thumb">
                                        <a href="blog-single.html">
                                            <img src="assets/images/post-6-mid.jpg" alt="" class="nk-img-stretch">
                                        </a>
                                        <div class="nk-post-category"><a href="#">Design</a></div>
                                    </div>
                                    <h2 class="nk-post-title h4"><a href="blog-single.html">Why you should Always First</a></h2>

                                    <div class="nk-post-date">
                                        August 14, 2016
                                    </div>

                                    <div class="nk-post-text">
                                        <p>Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-gap-1"></div>
                        </div>
                    </div>

                </div>
            </div> -->
            <!-- END: Carousel -->
        </div>
        <div class="nk-gap-5 mt-20"></div>
    </div>
    <!-- END: Blog -->

    <!-- START: Contact Info -->
    <div class="container" id="contact">
        <div class="nk-gap-5"></div>
        <div class="nk-gap-5"></div>

        <div class="row vertical-gap">
            <div class="col-lg-5">
                <!-- START: Info -->
                <h2 class="display-4">Contact Info:</h2>
                <div class="nk-gap mnt-3"></div>

                <p>Please contact us with your inquires, questions or comments.</p>

                <ul class="nk-contact-info">
                    <li>
                        <strong>Address:</strong> Hayward, CA</li>
                        <li>
                            <strong>Email:</strong> yourgo2dj@gmail.com</li>
                            <li>
                                <strong>Phone:</strong> 404 217 9577</li>
                            </ul>
                            <!-- END: Info -->
                        </div>
                        <div class="col-lg-7">
                            <!-- START: Form -->
                            <form action="#" class="nk-form nk-form-ajax">
                                <div class="row vertical-gap">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control required" name="name" placeholder="Your Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control required" name="email" placeholder="Your Email">
                                    </div>
                                </div>

                                <div class="nk-gap-1"></div>
                                <input type="text" class="form-control required" name="title" placeholder="Your Title">

                                <div class="nk-gap-1"></div>
                                <textarea class="form-control required" name="message" rows="8" placeholder="Your Comment" aria-required="true"></textarea>
                                <div class="nk-gap-1"></div>
                                <div class="nk-form-response-success"></div>
                                <div class="nk-form-response-error"></div>
                                <button class="nk-btn">Send Message</button>
                            </form>
                            <!-- END: Form -->
                        </div>
                    </div>
                    <div class="nk-gap-5"></div>
                </div>
                <!-- END: Contact Info -->




        <!--
    START: Footer
-->
<footer class="nk-footer">


    <div class="nk-footer-cont">
        <div class="container text-xs-center">
            <div class="nk-footer-social">
                <ul>
                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>

            <div class="nk-footer-text">
                <p>2017 &copy; Beats Breaks & Crates</p>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->


</div>




<!-- START: Scripts -->

<script src="assets/combined.js"></script>

<!-- END: Scripts -->


</body>

</html>