<!DOCTYPE html>
<!--
Name: Snow - Minimal & Clean Portfolio HTML Template
Version: 1.0.1
Author: nK, unvab
Support: https://nk.ticksy.com
License: Available Upon Request.
Copyright 2017.
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Beats Breaks & Crates | DJ & STEM Advocate</title>

  <meta name="description" content="Beats Breaks & Crates - DJ Services and Set Theory STEM Workshop.">
  <meta name="keywords" content="DJ, services, STEM, mixing, workshop, bay area website">
  <meta name="author" content="E. Bohler">


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- START: Styles -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">

  <!-- <link rel="stylesheet" href="assets/css/combined.css"> -->

  <!-- END: Styles -->



</head>

<body>




  <header class="nk-header">
<!--
START: Navbar
-->
<nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-black-text-on-top">
  <div class="container">
    <div class="nk-nav-table">
      <div class="nk-nav-logo" class="nk-nav-logo-onscroll">
        <%= link_to root_path do %>
        <%= image_tag "/assets/color_logo_transparent.svg", alt: "", width: "170", class: "nk-nav-logo-onscroll" %>
        <%= image_tag "/assets/dark_logo_transparent.svg", alt: "", width: "170" %>
        <% end %>
      </div>

      <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
        <li>
          <a href="index.html#blog">Blog</a>
        </li>
        <li>
          <a href="index.html#contact">Contact</a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
      </ul>

      <ul class="nk-nav nk-nav-right nk-nav-icons">
        <li class="single-icon hidden-lg-up">
          <a href="#" class="nk-navbar-full-toggle">
            <span class="nk-icon-burger">
              <span class="nk-t-1"></span>
              <span class="nk-t-2"></span>
              <span class="nk-t-3"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END: Navbar -->

</header>

<!--
START: Navbar Mobile
-->
<nav class="nk-navbar nk-navbar-full nk-navbar-align-center" id="nk-nav-mobile">
  <div class="nk-navbar-bg">
    <div class="bg-black"></div>
  </div>
  <div class="nk-nav-table">
    <div class="nk-nav-row">
      <div class="container">
        <div class="nk-nav-header">

          <div class="nk-nav-logo">
            <a href="index.html" class="nk-nav-logo">
              <img src="assets/color_logo_transparent.svg" alt="" width="85">
            </a>
          </div>

          <div class="nk-nav-close nk-navbar-full-toggle">
            <span class="nk-icon-close"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-nav-row-full nk-nav-row">
      <div class="nano">
        <div class="nano-content">
          <div class="nk-nav-table">
            <div class="nk-nav-row nk-nav-row-full nk-nav-row-center nk-navbar-mobile-content">
              <ul class="nk-nav">
                <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nk-nav-row">
      <div class="container">
        <div class="nk-nav-social">
          <ul>
            <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- END: Navbar Mobile -->


<div class="nk-main">

  <!-- START: Header Title -->
  <div class="nk-header-title nk-header-title-full">
    <div class="bg-image">
      <div style="background-image: url('/assets/blog.png');"></div>
      <!-- <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div> -->
    </div>
    <div class="nk-header-table">
      <div class="nk-header-table-cell">
        <div class="container">

          <div class="nk-gap"></div>
          <div class="nk-header-text text-white">
            <div class="nk-gap-4"></div>
          </div>


        </div>
      </div>
    </div>

    <div>
      <a class="nk-header-title-scroll-down text-white" href="#nk-header-title-scroll-down">
        <span class="pe-7s-angle-down"></span>
      </a>
    </div>

  </div>

  <div id="nk-header-title-scroll-down"></div>

  <!-- END: Header Title -->

  <!-- START: Blog -->
  <div class="nk-box bg-main-1" id="blog">
    <div class="nk-gap-4 mt-5"></div>
    <div class="nk-gap-4 mt-5"></div>


    <h2 class="text-xs-center display-4 text-white">Unconventional Conversations from a DJ's Perspective</h2>

<!--     <div class="nk-gap mnt-6"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="text-xs-center">Coming Soon
          </div>
        </div>
      </div>
    </div> -->

    <div class="nk-gap-2 mt-12"></div>
    <div class="container">
      <!-- START: Carousel -->
      <div class="nk-carousel-2 nk-carousel-x2 nk-carousel-no-margin nk-carousel-all-visible nk-blog-isotope" data-dots="true">
        <div class="nk-carousel-inner">


          <div>
            <div>
              <div class="pl-15 pr-15">
                <div class="nk-blog-post">
                  <div class="nk-post-thumb">
                    <a href="blog1.html">
                      <img src="/assets/spatial-intelligence_dream-world-music-lesson-setapak.png" alt="" class="nk-img-stretch">
                    </a>
                    <!-- <div class="nk-post-category"><a href="#">Nature</a></div> -->
                  </div>
                  <h2 class="nk-post-title h4"><a href="blog1.html">STEM's relationship with Music</a></h2>

                  <div class="nk-post-date">
                    December 13, 2017
                  </div>

                  <div class="nk-post-text">
                    <p>One of the ways music enhances brain function is by stimulating the formation of certain brain chemicals such as the neurotransmitter dopamine.</p>
                  </div>
                </div>
              </div>
              <div class="nk-gap-1"></div>
            </div>
          </div>


          <div>
            <div>
              <div class="pl-15 pr-15">
                <div class="nk-blog-post">
                  <div class="nk-post-thumb">
                    <a href="blog2.html">
                      <img src="/assets/discounts.png" alt="" class="nk-img-stretch">
                    </a>
                    <!-- <div class="nk-post-category"><a href="#">Nature</a></div> -->
                  </div>
                  <h2 class="nk-post-title h4"><a href="blog2.html">Getting Started for under $499</a></h2>

                  <div class="nk-post-date">
                    December 15, 2017
                  </div>

                  <div class="nk-post-text">
                    <p>You can get started as a DJ with this simple setup...just in time for the holidays.</p>
                  </div>
                </div>
              </div>
              <div class="nk-gap-1"></div>
            </div>
          </div>


          <div>
            <div>
              <div class="pl-15 pr-15">
                <div class="nk-blog-post">
                  <div class="nk-post-thumb">
                    <a href="blog3.html">
                      <img src="/assets/turntable1.jpg" alt="" class="nk-img-stretch">
                    </a>
                    <!-- <div class="nk-post-category"><a href="#">Branding</a></div> -->
                  </div>
                  <h2 class="nk-post-title h4"><a href="blog3.html">My DJ Experience</a></h2>

                  <div class="nk-post-date">
                    December 23, 2017
                  </div>

                  <div class="nk-post-text">
                    <p>Picture it...Atlanta, GA Fall 2005; this was my first experience with Technic 1200's.</p>
                  </div>
                </div>
              </div>
              <div class="nk-gap-1"></div>
            </div>
          </div>


          <!-- <div>
            <div>
              <div class="pl-15 pr-15">
                <div class="nk-blog-post">
                  <div class="nk-post-thumb">
                    <a href="blog-single.html">
                      <img src="assets/images/post-5-mid.jpg" alt="" class="nk-img-stretch">
                    </a>
                    <div class="nk-post-category"><a href="#">Design</a></div>
                  </div>
                  <h2 class="nk-post-title h4"><a href="blog-single.html">Ten things about Photography</a></h2>

                  <div class="nk-post-date">
                    August 14, 2016
                  </div>

                  <div class="nk-post-text">
                    <p>Be forth, god for rule face abundantly all our two winged made. Is whose morning female.</p>
                  </div>
                </div>
              </div>
              <div class="nk-gap-1"></div>
            </div>
          </div>


          <div>
            <div>
              <div class="pl-15 pr-15">
                <div class="nk-blog-post">
                  <div class="nk-post-thumb">
                    <a href="blog-single.html">
                      <img src="assets/images/post-6-mid.jpg" alt="" class="nk-img-stretch">
                    </a>
                    <div class="nk-post-category"><a href="#">Design</a></div>
                  </div>
                  <h2 class="nk-post-title h4"><a href="blog-single.html">Why you should Always First</a></h2>

                  <div class="nk-post-date">
                    August 14, 2016
                  </div>

                  <div class="nk-post-text">
                    <p>Lights give have herb. First. Seed lesser his a fruit. Stars good divide fish appear don't, third deep.</p>
                  </div>
                </div>
              </div>
              <div class="nk-gap-1"></div>
            </div>
          </div> -->

        </div>
      </div>
      <!-- END: Carousel -->
    </div>
    <div class="nk-gap-5 mt-20"></div>
  </div>
  <!-- END: Blog -->

  <!-- START: Contact Info -->
  <div class="container bg-gray-1" id="contact">
    <div class="nk-gap-5"></div>
    <div class="nk-gap-5"></div>

    <div class="row vertical-gap">
      <div class="col-lg-5">
        <!-- START: Info -->
        <h2 class="display-4">Contact Info:</h2>
        <div class="nk-gap mnt-3"></div>

        <p>Please contact us with your inquires, questions or comments.</p>

        <ul class="nk-contact-info">
          <li>
            <strong>Address:</strong> Hayward, CA</li>
            <li>
              <strong>Email:</strong> yourgo2dj@gmail.com</li>
              <li>
                <strong>Phone:</strong> 404 217 9577</li>
                <li>
                  <a href="/welcome/index.html#contact">
                    <button type="button" class="btn btn-info">Contact Us</button>
                  </a>
                </li>
              </ul>
              <!-- END: Info -->
            </div>
            <div class="col-lg-7">
              <!-- START: Form -->

<!--                   <form action="http://formspree.io/yourgo2dj@gmail.com" method="post">
                    <input type="text" name="name" placeholder="Name"><br><br>
                    <input type="text" name="title" placeholder="Subject"><br><br>
                    <input type="email" name="email" placeholder="Email Address"><br><br>
                    <textarea name="message" placeholder="Message"></textarea><br><br>
                    <button type="submit">Send</button>
                  </form> -->

                  <!-- END: Form -->
                </div>
              </div>
              <div class="nk-gap-5"></div>
            </div>
            <!-- END: Contact Info -->

        <!--
    START: Footer
  -->
  <footer class="nk-footer">


    <div class="nk-footer-cont">
      <div class="container text-xs-center">
        <div class="nk-footer-social">
          <ul>
            <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>

        <div class="nk-footer-text">
          <p>2017 &copy; Beats Breaks & Crates</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: Footer -->


</div>




<!-- START: Scripts -->

<script src="/assets/combined.js"></script>

<!-- END: Scripts -->


</body>

</html>



