<!DOCTYPE html>
<!--
  Name: Snow - Minimal & Clean Portfolio HTML Template
  Version: 1.0.1
  Author: nK, unvab
  Support: https://nk.ticksy.com
  License: Available Upon Request.
  Copyright 2017.
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Beats Breaks & Crates | DJ & STEM Advocate</title>

  <meta name="description" content="Beats Breaks & Crates - DJ Services and Set Theory STEM Workshop.">
  <meta name="keywords" content="DJ, services, STEM, mixing, workshop, bay area website">
  <meta name="author" content="E. Bohler">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- START: Styles -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i%7cWork+Sans:400,500,700" rel="stylesheet" type="text/css">

  <!-- <link rel="stylesheet" href="assets/css/combined.css"> -->

  <!-- END: Styles -->



</head>

<body>




  <header class="nk-header">
        <!--
        START: Navbar
      -->
      <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-transparent nk-navbar-white-text-on-top">
        <div class="container">
          <div class="nk-nav-table">
            <a href="/" class="nk-nav-logo">
              <img src="/assets/color_logo_transparent.svg" alt="" width="170" class="nk-nav-logo-onscroll">
              <img src="/assets/dark_logo_transparent.svg" alt="" width="170">
            </a>

            <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
              <li>
                <a href="index.html#about">About Set Theory</a>
              </li>
              <li>
                <a href="index.html#intro">Intro Course</a>
              </li>
              <li>
                <a href="index.html#contact">Contact</a>
              </li>
            </ul>

            <ul class="nk-nav nk-nav-right nk-nav-icons">
              <li class="single-icon hidden-lg-up">
                <a href="#" class="nk-navbar-full-toggle">
                  <span class="nk-icon-burger">
                    <span class="nk-t-1"></span>
                    <span class="nk-t-2"></span>
                    <span class="nk-t-3"></span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END: Navbar -->

    </header>




    <!--
    START: Navbar Mobile
  -->
  <nav class="nk-navbar nk-navbar-full nk-navbar-align-center" id="nk-nav-mobile">
    <div class="nk-navbar-bg">
      <div class="bg-image" style="background-image: url('/assets/bg-menu.jpg')"></div>
    </div>
    <div class="nk-nav-table">
      <div class="nk-nav-row">
        <div class="container">
          <div class="nk-nav-header">

            <div class="nk-nav-logo">
              <a href="index.html" class="nk-nav-logo">
                <img src="/assets/logo-light.svg" alt="" width="85">
              </a>
            </div>

            <div class="nk-nav-close nk-navbar-full-toggle">
              <span class="nk-icon-close"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-nav-row-full nk-nav-row">
        <div class="nano">
          <div class="nano-content">
            <div class="nk-nav-table">
              <div class="nk-nav-row nk-nav-row-full nk-nav-row-center nk-navbar-mobile-content">
                <ul class="nk-nav">
                  <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-nav-row">
        <div class="container">
          <div class="nk-nav-social">
            <ul>
              <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
              <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END: Navbar Mobile -->


  <div class="nk-main">

    <!-- START: Header Title -->
    <div class="nk-header-title nk-header-title-full">
      <div class="bg-image">
        <div style="background-image: url('/assets/math 2.jpg');"></div>
        <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
      </div>
      <div class="nk-header-table">
        <div class="nk-header-table-cell">


          <div class="container" id="about">

            <div class="nk-gap-4 mt-9"></div>
            <div class="nk-gap-4 mt-9"></div>

            <h2 class="nk-subtitle text-white">Beats Breaks & Crates</h2>


            <h1 class="nk-title display-3 text-white">Set Theory
              <br>
              <em class="fw-400">Intro to STEAM Workshop</em>
            </h1>

            <div class="text-xs-center text-white">Set Theory bridges the gap between students and science, technology, engineering, art & technology for middle and high school students using the DJ artform.</div>

            <div class="nk-gap"></div>
            <div class="nk-header-text text-white">
              <div class="nk-gap-4"></div>
            </div>


          </div>
        </div>
      </div>

      <div>
        <a class="nk-header-title-scroll-down text-white" href="#nk-header-title-scroll-down">
          <span class="pe-7s-angle-down"></span>
        </a>
      </div>

    </div>

    <div id="nk-header-title-scroll-down"></div>

    <!-- END: Header Title -->





    <!-- START: History -->
    <div class="bg-white" id="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-xs-center">
            <div class="nk-gap-4 mt-9"></div>
            <div class="nk-gap-4 mt-9"></div>

            <h2 class="display-4">History: The Birth of Hip-Hop</h2>
            <div class="nk-gap mnt-5"></div>


            <iframe width="720" height="315" src="https://www.youtube.com/embed/sbhq28FnFbA" frameborder="0" allowfullscreen></iframe>

            <div class="nk-gap mnt-6"></div>

            <div class="text-xs-center">On August 11, 1973, an 18-year-old, Jamaican-American DJ who went by the name of Kool Herc threw a back-to-school jam at 1520 Sedgwick Avenue in the Bronx, New York. During his set, he decided to do something different. Instead of playing the songs in full, he played only their instrumental sections, or “breaks” - sections where he noticed the crowd went wild. During these “breaks” his friend Coke La Rock hyped up the crowd with a microphone. And with that, Hip Hop was born.

              <div class="nk-gap mnt-6"></div>


              Credits: https://www.google.com/doodles/44th-anniversary-of-the-birth-of-hip-hop</div>


              <div class="nk-gap-4 mt-25"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: History -->

      <!-- START: Technology -->
      <div class="bg-black" style="background-image: url('/assets/bg-pattern.jpg')" id="setup">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
              <div class="nk-gap-4 mt-9"></div>
              <div class="nk-gap-4 mt-9"></div>

              <h2 class="display-4 text-white">Technology: The Digital Setup</h2>
              <div class="nk-gap mnt-5"></div>


              <img src="/assets/djsetup2.png" alt="" class="nk-img-fit"></img>

              <div class="nk-gap mnt-6"></div>
              <div class="nk-gap mnt-6"></div>


              <div class="text-s-center text-white">Topics of discussion:

                equipment and setup, input & output signals, analog-to-digital converters and position, speed & direction.

                <div class="nk-gap mnt-6"></div>


                Photo Credit: http://thehub.musiciansfriend.com/dj-gear-buying-guides/dj-controller-and-interface-buying-guide</div>


                <div class="nk-gap-4 mt-25"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Technology -->

        <!-- START: Art -->
        <div class="bg-white" id="art">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-lg-2 text-xs-center">
                <div class="nk-gap-4 mt-9"></div>
                <div class="nk-gap-4 mt-9"></div>

                <h2 class="display-4">Art: Song Structure</h2>
                <div class="nk-gap mnt-5"></div>


                <img src="/assets/song structure.png" alt="" class="nk-img-fit"></img>

                <div class="nk-gap mnt-6"></div>
                <div class="nk-gap mnt-6"></div>


                <div class="text-s-center text-black">Topics of discussion:

                  structure of a song, mixing and creating a "musical journey" as a DJ.

                  <div class="nk-gap mnt-6"></div>


                  Photo Credit: https://blog.landr.com/write-song/</div>


                  <div class="nk-gap-4 mt-25"></div>
                </div>
              </div>
            </div>
            <!-- END: Art -->

            <!-- START: Mixing -->
            <div class="bg-black" style="background-image: url('/assets/bg-pattern.jpg')" id="setup">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 offset-lg-2 text-xs-center">
                    <div class="nk-gap-4 mt-9"></div>
                    <div class="nk-gap-4 mt-9"></div>

                    <h2 class="display-4 text-white">Mixing: BPM & KEY</h2>
                    <div class="nk-gap mnt-5"></div>


                    <img src="/assets/keybpm.jpg" alt="" class="nk-img-fit"></img>

                    <div class="nk-gap mnt-6"></div>
                    <div class="nk-gap mnt-6"></div>


                    <div class="text-s-center text-white">Topics of discussion:

                      BPM change using algebra, pitch, frequency, volume and intro to the Camelot Wheel.

                      <div class="nk-gap mnt-6"></div>


                      Photo Credit: http://djtimes.com/serato-dj-updated-1-9-2-expansion-pack-subscription-plans-now-available/</div>


                      <div class="nk-gap-4 mt-25"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: Mixing -->

              <!-- START: Art -->
              <div class="bg-white" id="schedule">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-xs-center">
                      <div class="nk-gap-4 mt-9"></div>
                      <div class="nk-gap-4 mt-9"></div>

                      <h2 class="display-5">Schedule Your Session Today!</h2>

                      <div class="nk-gap mnt-5"></div>


                      <img src="/assets/teach.jpeg" alt="" class="nk-img-fit"></img>

                      <div class="nk-gap mnt-6"></div>
                      <div class="nk-gap mnt-6"></div>


                      <div class="text-s-center text-black">Set Theory bridges the gap between students and science, technology, engineering, art & technology for middle and high school students using the DJ artform.

                        <div class="nk-gap mnt-6"></div>


                        <div class="nk-gap-4 mt-25"></div>
                      </div>
                    </div>
                  </div>
                  <!-- END: Art -->




                  <!-- START: Contact Info -->
                  <div class="container bg-gray-1" id="contact">
                    <div class="nk-gap-5"></div>
                    <div class="nk-gap-5"></div>

                    <div class="row vertical-gap">
                      <div class="col-lg-5">
                        <!-- START: Info -->
                        <h2 class="display-4">Contact Info:</h2>
                        <div class="nk-gap mnt-3"></div>

                        <p>Please contact us with your inquires, questions or comments.</p>

                        <ul class="nk-contact-info">
                          <li>
                            <strong>Address:</strong> Hayward, CA</li>
                            <li>
                              <strong>Email:</strong> yourgo2dj@gmail.com</li>
                              <li>
                                <strong>Phone:</strong> 404 217 9577</li>
                              </ul>
                              <!-- END: Info -->
                            </div>
                            <div class="col-lg-7">
                              <!-- START: Form -->
                              <form action="http://formspree.io/yourgo2dj@gmail.com" method="post">
                                <input type="text" name="name" placeholder="Name"><br><br>
                                <input type="text" name="title" placeholder="Subject"><br><br>
                                <input type="email" name="email" placeholder="Email Address"><br><br>
                                <textarea name="message" placeholder="Message"></textarea><br><br>
                                <button type="submit">Send</button>
                              </form>

                              <!-- END: Form -->
                            </div>
                          </div>
                          <div class="nk-gap-5"></div>
                        </div>
                        <!-- END: Contact Info -->


        <!--
    START: Footer
  -->
  <footer class="nk-footer">


    <div class="nk-footer-cont">
      <div class="container text-xs-center">
        <div class="nk-footer-social">
          <ul>
            <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://snapchat.com"><i class="fa fa-snapchat-square"></i></a></li>
            <li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>

        <div class="nk-footer-text">
          <p>2017 &copy; Beats Breaks & Crates</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: Footer -->


</div>




<!-- START: Scripts -->

<script src="/assets/combined.js"></script>

<!-- END: Scripts -->


</body>

</html>
